.menuButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 16px;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.top {
}

.middle {
}

.bottom {
}

.menuButton.open .top {
  transform: translateY(4px) rotate(45deg);
}

.menuButton.open .middle {
  opacity: 0;
}

.menuButton.open .bottom {
  transform: translateY(-4px) rotate(-45deg);
}
